.myself h1 {
  font-family: "Playball", cursive;
  font-weight: 100;
  font-size: 5em;
}
.myself p {
  font-size: 1.5em;
}

.contact-link a {
  border: 1px solid #dae4ee;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: 900;
}

.contact-link a:hover {
  color: white;
  border-color: white;
  cursor: pointer;
}

.home-intro {
  text-align: center;
  color: #dae4ee;
  padding-top: 35vh;
}

.home-intro .myself {
  margin-bottom: 60px;
}

.home {
  min-height: 100vh;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 23s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
