.projects-page {
  background-color: #1f2933;
  color: #dae4ee;
  height: 100vh;
}

.projects-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 10vh;
}

.projects-section h1 {
  padding-bottom: 25px;
}

.projects-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

@media (max-width: 945px) {
  .projects-page {
    height: 100%;
    width: 100vw;
  }

  .projects-list {
    grid-template-columns: 1fr;
    padding-bottom: 10rem;
  }

  .projects-section {
    height: 100%;
  }
}
