.about-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #1f2933;
  color: #dae4ee;
}

.about-skills {
  text-align: center;
  margin-top: 20px;
}

.skills-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 4rem;
  margin-top: 10px;
}
.skill-link {
  transition: transform 0.3s;
  padding-left: 10px;
}

.skill-link:hover {
  transform: scale(1.09);
}

.skill-link a:hover {
  color: white;
}
