.about-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #1f2933;
  color: #dae4ee;
  padding-top: 5vh;
}

/* @media (max-width: 945px) {
  .about-page {
  }
} */
