@import url("https://fonts.googleapis.com/css2?family=Playball&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

:root {
  --gradient: linear-gradient(
    -60deg,
    #0dd99f,
    #11d97c,
    #0fa697,
    #0f808c,
    #0f5c8c
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: #dae4ee;
}
